body {
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.title {
  background-color: #8BB0B5;
  border: 2px;
  padding: 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

#animal_new {
  margin-top: 800px;
  margin-bottom: 250px;
  position: absolute;
}

.well {
  margin-top: 20px;
}

.col-md-2 {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}
